[Unit]
Description=OpenEBS Backing Storage
ConditionPathExists=/etc/init.d/openebs-backing-storage.sh
After=network.target

[Service]
Type=forking
ExecStart=/etc/init.d/openebs-backing-storage.sh start
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
